:root {
  --color_primary: #fe1f27;
  --background_primary: #101010;
  --color_secondary: #e00109;
  --background_secondary: #202020;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background: var(--background_primary); */
  color: #fbfbfb;
  width: 100%;
  height: 100vh;
}

/* ----------------HEADER------------------- */

header {
  width: 100%;
  height: 80px;
  background: var(--background_secondary);
}

.containerHeader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 130px;
}

.containerHeader input {
  height: 40px;
  width: 340px;
  border: none;
  border-radius: 3px;
  outline: none;
  padding-left: 10px;
  background-color: #303030;
  color: #fff;
  font-size: 16px;
}
.containerHeader input::placeholder {
  color: #adb5bd;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  gap: 30px;
}
.search {
  display: flex;
}
.search button {
  cursor: pointer;
  background-color: #303030;
  border: none;
  padding-right: 10px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #dededf;
}

.user img {
  height: 45px;
  cursor: pointer;
}

.user p:hover {
  cursor: pointer;
  color: #fff;
}
/* ----------------------NAV ---------------------------*/
nav {
  width: 80px;
  height: 100%;
  background: var(--background_secondary);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 100;
  top: -80px;
}
.logo {
  height: 60px;
  margin: 30px 0 50px;
  cursor: pointer;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.item_menu {
  padding: 30px 0;
  width: 100%;
  text-align: center;
}
.item_menu:hover {
  background: linear-gradient(
    90deg,
    rgba(254, 31, 39, 1) 0%,
    rgba(16, 16, 16, 1) 100%
  );
}

/* 
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("/img/imagem.jpg");
} */
