:root {
  --color_primary: #fe1f27;
  --background_primary: #101010;
  --color_secondary: #e00109;
  --background_secondary: #202020;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background_primary);
  color: #fbfbfb;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

/* ----------------HEADER------------------- */

header {
  width: 100%;
  height: 100px;
  background: var(--background_secondary);
}

.containerHeader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.containerHeader input {
  height: 40px;
  width: 340px;
  border: none;
  border-radius: 3px;
  outline: none;
  padding-left: 10px;
  background-color: #303030;
  color: #fff;
  font-size: 16px;
}

.containerHeader input::placeholder {
  color: #adb5bd;
}

.logo {
  font-family: "Bebas Neue", cursive;
  color: var(--color_primary);
  cursor: pointer;
  font-size: 50px;
  padding: 0 60px 0 10px;
  letter-spacing: 2px;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  gap: 30px;
}
.profile img {
  cursor: pointer;
}

.search {
  display: flex;
}

.search button {
  cursor: pointer;
  background-color: #303030;
  border: none;
  padding-right: 10px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #dededf;
}

.user img {
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.user p:hover {
  cursor: pointer;
  color: #fff;
}

/* ----------------------NAV ---------------------------*/
.container_page {
  display: flex;
  height: 100%;
  width: 100%;
}

nav {
  width: 65px;
  background-color: var(--background_secondary);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.item_menu {
  padding: 20px 0;
  width: 100%;
  text-align: center;
}
.item_menu:hover {
  background: linear-gradient(
    90deg,
    rgba(254, 31, 39, 1) 0%,
    rgba(16, 16, 16, 1) 100%
  );
}

/* -----------------MAIN------------------- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

/* ------Carousel--------- */

.highlights{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap:10px;
  
 
}

.carousel {
  width: 700px;
  margin: 0 auto;
  border: 1px solid var(--color_primary);
} 

.card_highlight{

  
  
}

.info_highlight{
  display: flex;
  background-color: var(--background_secondary);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  gap:10px;
  width: 100%;
  text-transform:uppercase ;
  
}


/* .info_highlight {
  width: 100%;
  display: flex;
  padding: 5px 20px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: #afafaf25;
  color: #f8f8f8;
} */
.name_game_highlight{
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
}
.description_highlight{
  font-size: 16px;
  text-align: justify;
}


.btn_default {
  height: 35px;
  width: 113px;
  font-size: 18px;
  color: #fff;
  border-radius: 4px;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background-color: rgba(109, 20, 20, 0.829);
  border: 1px solid rgba(126, 67, 67, 0.925);
}
.btn_default:hover {
  border: 1px solid rgba(129, 49, 49, 0.678);
  background-color: #700b0b91;
}














main .banner {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  color: #ffffff;
  height: 400px;
  background: url("../img/league.jpg") no-repeat;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("../img/league.jpg") no-repeat; */
  background-size: cover;
  background-position-x: right;
  margin-bottom: 30px;
}



/* ----CARD--- */

main .painel_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 80%;
  height: 100%;
  font-size: 18px;
  background-color: #3a3a3a00;
}

main .cards_games {
  display: flex;
  gap: 10px;
  padding: 20px 0;
}

main .profile_game {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 300px;
  height: 100%;
  padding: 10px;
  background-color: #3030309d;
  border-radius: 8px;
}
main .content_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

main .container_title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
main .container_title p {
  color: var(--color_primary);
  cursor: pointer;
  font-weight: 600px;
}

main .container_title p:hover {
  color: rgb(179, 29, 29);
  cursor: pointer;
  font-weight: 600px;
}

main .banner_game {
  height: 201px;
  width: 270px;
  border-radius: 12px;
  object-fit: cover;
  object-position: left center;
}

main .content_info_game {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
  height: 180px;
  text-align: justify;
}

main .title_card_game {
  font-size: 24px;
  color: var(--color_primary);
}

main .btn_card_game {
  margin: 20px 0 3px 0;
  box-shadow: none;
}

/* -----------------FOOTER----------------------- */
footer {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  font-size: 18px;
  background-color: #202020;
}
footer .developerName {
  color: var(--color_primary);
}

/* 
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("/img/imagem.jpg");
} */
