:root {
  --color_primary: #fe1f27;
  --background_primary: #101010;
  --color_secondary: #e00109;
  --background_secondary: #202020;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background_primary);
  color: #fbfbfb;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

/* ----------------HEADER------------------- */

header {
  width: 100%;
  height: 100px;
  background: var(--background_secondary);
}

.containerHeader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.containerHeader input {
  height: 40px;
  width: 340px;
  border: none;
  border-radius: 3px;
  outline: none;
  padding-left: 10px;
  background-color: #303030;
  color: #fff;
  font-size: 16px;
}

.containerHeader input::placeholder {
  color: #adb5bd;
}

.logo {
  font-family: 'Bebas Neue', cursive;
  color: var(--color_primary);
  cursor: pointer;
  font-size: 50px;
  padding: 0 60px 0 10px;
  letter-spacing: 2px;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  gap: 30px;
}

.search {
  display: flex;
}

.search button {
  cursor: pointer;
  background-color: #303030;
  border: none;
  padding-right: 10px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #dededf;
}

.user img {
  height: 45px;
  cursor: pointer;
}

.user p:hover {
  cursor: pointer;
  color: #fff;
}

/* ----------------------NAV ---------------------------*/
nav {
  width: 65px;
  height: 100%;
  background: var(--background_secondary);
  display: flex;
  flex-direction: column;

}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.item_menu {
  padding: 20px 0;
  width: 100%;
  text-align: center;
}
.item_menu:hover {
  background: linear-gradient(
    90deg,
    rgba(254, 31, 39, 1) 0%,
    rgba(16, 16, 16, 1) 100%
  );
}

/* ---------------ASIDE-------------------- */
main{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 auto;
  margin: 20px 0;
}
/* -----------------MAIN------------------- */

main .banner{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
  color: #ffffff;
  height: 400px;
  background: url("../img/league.jpg") no-repeat;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("../img/league.jpg") no-repeat; */
    
  background-size: cover;
  background-position-x: right;
}

main button{
  height: 35px;
  width: 113px;
  margin: 0 20px 20px;
  font-size: 18px;
  color:#fff;
  border-radius: 4px;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background-color:rgba(109, 20, 20, 0.829);
  box-shadow:5px 5px 3px 0px rgba(196, 92, 92, 0.185);
  border: 1px solid rgba(126, 67, 67, 0.925);

}
main button:hover{
  border: 1px solid rgba(129, 49, 49, 0.678);
  background-color:#700b0b91;
}

main .background_caption{
  background: #000000de;
}

main .info{
  width: 100%;
  display: flex;
  padding:5px 20px;
  flex-direction: column;
  align-items: center;
  gap:5px;
  background-color: #afafaf25;
  color:#f8f8f8;
  

}
main .name_game{
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
}
main .description{
  font-size: 16px;
  text-align: justify;
}

/* -----------------FOOTER----------------------- */
footer{
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  gap:20px;
  padding: 20px 0 10px;
  font-size: 18px;
  background-color: #202020;
}
footer .developerName{
  color: var(--color_primary);
}




























/* 
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("/img/imagem.jpg");
} */
